@model OrderSystem.Models.ProProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProName" class="control-label"></label>
                <input asp-for="ProName" class="form-control" />
                <span asp-validation-for="ProName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProDescription" class="control-label"></label>
                <input asp-for="ProDescription" class="form-control" />
                <span asp-validation-for="ProDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProColor" class="control-label"></label>
                <input asp-for="ProColor" class="form-control" />
                <span asp-validation-for="ProColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProPrice" class="control-label"></label>
                <input asp-for="ProPrice" class="form-control" />
                <span asp-validation-for="ProPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProPriceBuy" class="control-label"></label>
                <input asp-for="ProPriceBuy" class="form-control" />
                <span asp-validation-for="ProPriceBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

